.text .item {
  width: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.slide-title {
  word-break: keep-all;
  white-space: nowrap;
  width: fit-content;
  overflow: hidden;
  display: flex;
  animation: slide 3s steps(40);
  display: inline-block;
}

.over {
  width: 100vw;
  display: flex;
}

@keyframes slide {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
